#gallery-desc.password {
	position: relative;
	height: 48px
}
#gallery-desc.password .text {
	position: absolute;
	top: 10px;
	left: 64px; 
	right: 10px;
}
#password-form-wrapper tr td:first-child {
	text-align: right;
}
#password-form-wrapper tr:last-child td:last-child {
	text-align: left;
}
#password-form-wrapper table {
	border-spacing: 8px;
}
#password-form-wrapper {
	text-align: center;
}
#password-form-wrapper table {
	margin: 0 auto;
}
#passwordform input[type='text'], #passwordform input[type='password'] {
	background-image: url(/resources/images/opa/bg-w-20.png);
	background-repeat: repeat;
	background-color: transparent;
	border: 1px #ccc solid;
	padding: 2px;
	color: #666;
}
#passwordform input[type='text']:focus, #passwordform input[type='password']:focus {
	background-image: url(/resources/images/opa/bg-w-40.png);
	border: 1px #dde solid;
}
#passwordform input[type='submit'] {
	background-color: #eef;
	border: 1px #ccc solid;
	color: #999;
}
#passwordform input[type='submit']:hover {
	color: #666;
	background-color: #efefff;
	border: 1px #aaa solid;
}
