/*

	Sterile Dark 1.0
	
*/

/* Main Layout
------------------------------ */
.rabbit {
	border: 0px !important;
	margin: 30px;	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);	
	opacity: .3;	
}
body {
	/* background: #1a1a1a; */
	margin: 0 !important;
	margin: 0 0 10px 0; 
	padding: 0;
	text-align: center;
	font: 76% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	/* color:#222222; */
	background:#333333 url(background.jpg) 0 0 repeat; 
}
.newsbody {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-align: justify; 
	text-justify: newspaper;
	padding: 40px 60px 40px 60px !important;
}
#sd-wrapper { background:url(light.jpg) 0 -400px no-repeat; }
#main {
	text-align: left;
	margin: 6px auto 5px auto;
	padding: 0;
	width: 675px;
	/* background: #333333; */
	//-moz-border-radius: 10px;
	//border: 1px solid #2a2a2a;
}
#credit {
	margin: 0 auto 40px auto;
	width: 680px;
	font-size: 9px;
	color: #666;
	margin-top: 15px;
	text-align: center;
	clear: both;
}
#credit a {
	text-decoration: none;
	color: #666;
}
#credit a:hover {
	color: #7A2;
	text-decoration: none;
}
#gallerytitle {
	padding: 23px 10px 6px 20px;
	margin-bottom: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	//background: #c0db5a;
	height:30px;
	//width: 600px;
	//border-bottom: 1px solid rgba(255, 255, 255, .1);	
}
.location {
	padding: 0px 10px 6px 20px;
	margin-bottom: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	//background: #c0db5a;
	height:30px;
	//border-bottom: 1px solid rgba(255, 255, 255, .1);	
}
#gallerytitle span.linkit{
   border: #000 1px dotted;
	background: #333;
	background: rgba(0, 0, 0,.3);
	-o-box-shadow: 5px 5px 10px #111111; 
	-icab-box-shadow: 5px 5px 10px #111111; 
	-khtml-box-shadow: 5px 5px 10px #111111; 
	-moz-box-shadow: 5px 5px 10px #111111; 
	-webkit-box-shadow: 5px 5px 10px #111111; 
	box-shadow: 5px 5px 10px #111111;
	margin-left: 10px;
	padding: 2px 6px 2px 6px;
}
#gallerytitle h2 span.linkit a {
	color: #666 !important;
}
.imageit {
	margin-top: 25px; 
	padding: 15px 3px 15px 3px; 
	border: #000 1px dotted;
	background: #333;
	background: rgba(0, 0, 0,.3);
	-o-box-shadow: 5px 5px 10px #111111; 
	-icab-box-shadow: 5px 5px 10px #111111; 
	-khtml-box-shadow: 5px 5px 10px #111111; 
	-moz-box-shadow: 5px 5px 10px #111111; 
	-webkit-box-shadow: 5px 5px 10px #111111; 
	box-shadow: 5px 5px 10px #111111;
}
#tools {
	text-align: center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);	
	opacity: .3;
	padding-top: 10px;
}
#tools img {
	padding: 10px;	
}
.imageit .data {
	position: relative;
   top: 0px;
   left: 0px;
   width: 131px;
   text-align: center; 
   border-top: #666 1px solid;
   border-bottom: #666 1px solid;
   background:  #333;
   background: rgba(0,0, 0,.3);
}
.imageit img {
  border: #333 1px solid;
}
#gallerytitle h2 span.linkit a:hover{
	color: #999 !important;
}
.albumtitle span {
	margin-left: 10px;
	padding: 2px 6px 2px 6px;
	border: rgba(0,0,0,.6) 1px dotted;
	-o-box-shadow: 5px 5px 10px #111111; 
	-icab-box-shadow: 5px 5px 10px #111111; 
	-khtml-box-shadow: 5px 5px 10px #111111; 
	-moz-box-shadow: 5px 5px 10px #111111; 
	-webkit-box-shadow: 5px 5px 10px #111111; 
	box-shadow: 5px 5px 10px #111111;
	margin-left: 10px;
	padding: 2px 6px 2px 6px;
}
.albumtitle {
  color: #9c3 !important;
}
#padbox {
 	padding: 20px !important;
}

#exif {
	color: #9C3;
	display:none;
}

#imagemetadata {
  display: none;
}


/* Text Styles
------------------------------ */
body {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #888;
}
a {
   outline: none;
}
h1, h2, h3, h4{ font-family: "Trebuchet MS",Verdana,Sans-Serif;}
h1 {
	font: normal 16px;
	color: #666;
	margin: 0;
	padding: 0;
}
h1 a:link, h1 a:active, h1 a:visited {
	color: #1a1a1a;
	text-decoration: none;
}
h1 span {
	color: #1a1a1a;
}
h1 a:hover, h1 a:focus {
	color: #454545;
}
.palelinks {
	text-align: justify;
	text-justify: newspaper;
}
.palelinks form a {
    color: #580;
}
.palelinks form a:hover {
    color: #9C3;
}
h2 {
	font-size: 1.5em;
	letter-spacing: 0.4pt;
	color: #666;
	text-transform: uppercase;
	padding:0;
	margin:0;
	float:left;
}
h2 a:link, h2 a:active, h2 a:visited { text-decoration: none; color: #666;}
h2 a:hover, h2 a:focus { text-decoration: none; color: #999;}
h2 a:hover {
	color: #eeffac;
}
h3 {
	color: #666;
	margin: 5px 0 5px 0 !important;
	margin: 0;	
	padding: 0;
}
h4 {
	color: #666;
	margin: 0;
	padding: 0;
}

/* Link Styles
------------------------------ */
a:link, a:active, a:visited { text-decoration: none; color: #580; /* #9C3; */ }
a:hover, a:focus { text-decoration: none; color: #9C3; /* #580;*/}

/* Miscellaneous
------------------------------ */
hr {
	clear: both;
	height: 0;
	border: 0;
	border-top: 1px solid #444;
	margin: 0 0 12px 0;
	padding: 0;
	color: #444;
}
img {
	border: 0;
}
blockquote {
	border-left: 1px dotted #96967E;
	margin-left: 20px;
	padding-left: 20px;
	color: #363630;
}
acronym {
  	cursor: help;
  	border-bottom: 1px solid;
}

/* Page Navigation
------------------------------ */
pagelist {
	padding: 10px 20px 5px 20px;

}
ul.pagelist {
	clear: both;
	padding: 0;
	margin: 0;
  	margin-left: 13px;
	list-style-type: none;
	//border-top: 1px solid rgba(255, 255, 255, .1);
	padding-top: 3px;
}
ul.pagelist li {
	display: inline;
}
ul.pagelist li a, ul.pagelist span.disabledlink {
	padding: 4px;
}
ul.pagelist span.disabledlink {
	color: #666;
}
ul.pagelist li.current a {
	font-weight: bold;
	text-decoration: none;
	color: #666;
}
ul.pagelist li.prev {
	margin-right: 10px;
}
ul.pagelist li.next {
	margin-left: 10px;
}
.disabledlink {
	color: #AAA;
	cursor: default;
}
.pagenav {
	clear: both;
}


/* AJAX
------------------------------ */
#albumDescEditable, #albumTagsEditable, #imageTags {
	margin-bottom: 12px;
}
#imageDescEditable, #albumTagsEditable {
	margin-top: 24px;
}
#imageDesc, #exif_link {
	margin-bottom: 12px;
}

/* Tags
------------------------------ */
.taglist ul {
	display: inline;
	list-style-type: none;
}

.taglist li {
	display: inline;
	list-style-type: none;
	padding-right: 3px;
	float: left;
}

/* Image Thumbnails
------------------------------ */
.imagethumb a, .thumb a {
	display: block;
	padding: 1px;
	margin: 5px;
	margin-left: 16px;	
	line-height: 0px;
	border: #666 1px solid;
	background: #999;
	background: rgba(255,255,255,.6);
	-o-box-shadow: 5px 5px 10px #111111; 
	-icab-box-shadow: 5px 5px 10px #111111; 
	-khtml-box-shadow: 5px 5px 10px #111111; 
	-moz-box-shadow: 5px 5px 10px #111111; 
	-webkit-box-shadow: 5px 5px 10px #111111; 
	box-shadow: 5px 5px 10px #111111;
}
.thumb a img {
	border: #666 1px solid;
}
.imagethumb a:hover, .thumb a:hover {
	background: #efefef;
	background: rgba(255,255,255,.8);
}
.imagethumb, .thumb {
	float: left;
}
#albums .thumb {
	//margin-bottom: 15px;
}
#images .imagethumb {
	margin-bottom: 15px;
}
#images-nav {
	margin-top: 20px;
}
.data { 
   position: relative;
   top: -139px;
   left: 18px;
   width: 131px;
   text-align: center; 
   border-top: #666 1px solid;
   border-bottom: #666 1px solid;
   background: #333;
   background: rgba(0,0, 0,.3);
}
.data .title { font-size:20px; color: #ddd !important;  }
.data div small { font-size:10px;  }
.data div a { text-decoration:underline; }
.albumdesc2 {
	line-height: 18px;
}


/* Album Thumbnails
------------------------------ */
#albums {
    float: left;
}
.album {
	margin: 0 14px 15px 0;
	float: left;
	width: 345px;
}
.album .imagethumb a, .album .thumb a {
	margin: 0;
}
.album h3 {
	padding: 0;
	margin: 0;
}
.album h3 a {
	display: block;
	width: 100%;
}
.album p {
	margin: 0 0 4px 0;
	line-height: 17px;
	font-size: 10px;
}
.albumdesc {
	float: right;
	width: 175px;
	padding: 6px 0 0 0;
	text-align: justify;
	text-justify: newspaper;
}


/* Individual Image
------------------------------ */	
.imgdesc {
	padding: 10px 0 10px 0;
	line-height: 18px;
}
#image {
	text-align: center;
	line-height: 0;
	margin:10px 0;
}
.stepimage {
	text-align: center;
	line-height: 0;
	margin:10px 0;
}
.imgnav {
	float: right;
	width: 140px;
	text-align: center;
	margin-top: 13px;
	_margin-top: 8px; /* IE Only */
}
.imgnav {
	float: right;
	width: 140px;
	text-align: center;
	margin-top: 5px;
	color: #0c2601;
	padding: 0;
	margin: 0;
}
.imgnav .imgprevious a, .imgnav .imgnext a {
	font: normal 16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	text-decoration: none;
	color: #214902;
}
.imgnav .imgprevious a:hover, .imgnav .imgnext a:hover {
	text-decoration: none;
	color: #0c2601;
}
.imgnav .imgprevious a {
	float: left;
}
.imgnav .imgnext a {
	float: right;
}
#imgoriginal {
	font-size: 8pt; 
	text-align: right;
	height:30px;
}
#imgorder {
	float: left;
}
#narrow {
	margin: 0 auto;
	width: 440px;
}

/* Forms
------------------------------ */
form {padding-bottom:10px;}
.inputbox {
	width: 250px;
	padding: 4px;
	margin-bottom: 5px !important;
	margin-bottom: 0px;
	color: #888;
	background: #1a1a1a;
	border: 1px solid #9C3;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}
textarea {
	padding: 4px;
	margin-bottom: 5px !important;
	margin-bottom: 0px;
	width: 100%;
	color: #888;
	background: #1a1a1a;
	border: 1px solid #9C3;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}
.checkbox {
	cursor: pointer;
}
.pushbutton {
	cursor: pointer;
	padding: 5px 10px;
	color: #888;
	background: #EEE;
	border: 1px solid #DDD;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}
label {
	cursor: pointer;
}

.required {
	color: #9C3;
  	cursor: help;
}

.gravatar {
width: 20px;
border: 1px grey solid;
padding: 1px;
vertical-align: middle;
}

#map{
	margin-left:-85px;
	padding: 10px 0;
}

/* Admin Toolbox
------------------------------ */
#admin, #admin_data{
	position:fixed;
	right:0;
	top:0;
	border-left: 1px solid #2a2a2a;
	border-bottom: 1px solid #2a2a2a;
	background: #1a1a1a;
	width:120px;
}
#admin_data{
	top:20px;
}
#admin h3 {
	font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #666;
	border-bottom: 1px dashed #2a2a2a;
	margin:0;
	padding:0;
}

/* Search Box
------------------------------ */
#search {
	float: right;
	text-align: center;
	margin:0;
	padding:0;
	width: 155px;
}
#search_form, #search_form * {
	padding:0px;
	margin:0px;
}
#search input.pushbutton {
  padding: 1px;
  font-size: 80%;
}

/* Archive View
---------------------------- */
#archive{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
ul.archive * {
	padding:0;
	margin:0;
	list-style:none;
}
ul.archive {
	margin-left: -38px;
}
ul.archive .year {
	margin-top:22px;
	text-align: center;
	margin-bottom:15px;
	font-size:18px;
}
.archive-wrapper .imageit {
	background-image: url('../images/rabbit-transparent.png');
	background-repeat: no-repeat;
	background-position: 95% 99%;
}
ul.archive .month {
	font-size: 11px;
	list-style:none;
	border-top: 1px solid #333;
	padding-top: 5px;
}
ul.archive .month a {
	color: #666 !important;
}

/* Tag Cloud
---------------------------- */
#tag_cloud {
	text-align: center;
	background: #111;
}
#tag_cloud p {
	padding:10px 0;
	margin:20px 0;
	background: #222;
	border-top: 3px solid #666;
	border-bottom: 3px solid #666;
	font-size: 18px;
	font-weight:bold;
	text-align: center;
}
