#zp-shutterfly {
	position: fixed;
	_position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
	z-index: 1000;
	background: transparent url("shutterfly_smlogo.png") no-repeat 0 center;
	width: 21px;
	height: 30px;
	cursor: pointer;
}

#zp-shutterfly #extended {
	display: none;
}

#zp-shutterfly #extended form input {
	position: relative;
	_position: absolute;
	background-color: #FFF;
	margin: 0 0 0 30px;
	padding: 2px 3px;
	top: 2px;
	border: 2px solid #F90;
	color: #F90;
	font: bold 1em arial, sans-serif;
}

#zp-shutterfly #extended form input:hover {
	background-color: #F90;
	border: 2px solid #FFF;
	color: #FFF;
}
