/* Photo gallery template ||| Joshuaink.com ||| March 2005 ||| Free to use but this credit must remain in place */
/* Modified by Darrell Dudics (a.k.a GameDudeX) [http://www.gamedudex.com] to make it a compatible ZenPhoto them.*/
*{
	margin:0;
	padding:0;
	font-size:100%;

}

body{
	font:80%/110% Verdana, Helvetica, sans-serif;
	color:#666;
	margin-top:20px;
	background:#F6F5F0;
	text-align:center;
}

a{
	color:#666;
	text-decoration:none;
}

p,
h2{
	margin:15px 5px;
}

h2{
	color:#999;
}

#wrap{
	width:720px;
	margin:0 auto;
	position:relative;
}

#header{
	margin-bottom:20px;
}

#header a{
	text-decoration:underline;
}



#main-content li{
	width:200px;
	border:solid #CCC;
	border-width:0 1px 1px 0;
/* uncomment and adjust this if you want a rounded frame in Mozilla browsers
	-moz-border-radius:20px;
 */
	background:#FFF;
	padding:10px;
	text-align:center;
	position:relative;
	float:left;
	display:inline;
	margin:5px;
}

#fullplate-navigation ul {
	clear: both;
}

#fullplate-navigation ul {
	list-style:none;
	margin:5px 0 0 45px;
}

#fullplate-navigation ul li {
	display:block;
	float:left;
	width:210px;

}

#previous{
	text-align:left;
}

#next{
	text-align:right;
}


#fullplate-navigation ul li a{
	display:block;
	width:190px;
	padding:10px;
}

#fullplate-navigation ul li a:hover{
	color:#333;
}



#fullplate-photo {
	border:solid #EEE;
	border-width:0 1px 1px 0;
/* uncomment and adjust this if you want a rounded frame in Mozilla browsers
	-moz-border-radius:20px;
 */
	background:#FFF;
	padding:5px 15px 15px 15px;
	margin:0 auto;
	width:600px;
}




#main-content a span {
/*\*/
	position:absolute;
	left:-9999px;

}

#main-content a:hover span {
	top:10px;
	left:10px;
	width:202px;
	font-weight:bold;
	background:#FFF;
	color:#999;
	padding:5px 0 5px 0;
	text-transform:uppercase;
	font-size:80%;
	border:1px solid #EEE;
	border-width:0 0 10px 0;
	filter: alpha(opacity=100);
	/*-moz-opacity:.8;
		opacity:.80;*/
/**/
}


img{
	border:1px solid #EEE;
/* delete line above and uncomment this for an inset effect
	border:1px solid;
	border-color:#666 #EEE #EEE #666;
 */
}

#foot{
	padding-top:10px;
	margin-bottom:20px;
	clear:left;
}


/******************************************************************************/
/* Added by Darrell Dudics */
/******************************************************************************/
#commentcontent {
	clear: both;
	padding-top: 20px;
	margin: 0 auto;
	width: 500px;
}

#commentcontent table {
text-align: left;
width: 400px;
margin: 0 auto;
}


