#archive-carousel ul.archive li.year p {
	padding-top: 10px;
}
#tabs {
	margin-top: 23px;
}
.news.home .news-content-placeholder {
	margin-top: 12px;
}
#latest-stuff #images .thumb {
	margin-bottom: 2px;
}
